@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: goldenrod;
    border: 3px solid black;
    font-family: 'Roboto Mono', monospace;
}

nav ul{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(141, 13, 20);
    font-weight: bold;
}
    
.logo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
display: flex;
padding-bottom: 5px;
justify-content: center;
align-items: center;
}
.search input{
    border-radius: 2px;
    margin: 0 4px;
    border: 2px solid black ;
    padding: 0px 4px;
}
.container{
    min-height: calc(100vh - 12vh - 85px - 126px);
}
.slider img{
        width: 400px;
        height: 200px;
    margin: 5px auto;
}
footer{
    height: 12vh;
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
}